<!DOCTYPE html>
<html lang="en-us">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>&#128512;&nbsp;Welcome to My Portifolio Page</title>

{% load static %}

 <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="profile-wraper">
          
<img class="profile-pic" src="{% static '/images/79269138_194434331686808_7465983857280417792_n.jpg' %}" alt="my-profile-photo">
<br>
<h5><strong>Hi, Iam Sadic Mohamud</strong></h5>
<p>A junior python/Django developer. I learned solely from online tutorials, youtube videos and text books.</p>

    </div>
    </div>
      </div>

<br>

<div class="row">
  <div class="col-md-6">
    <div class="card" id="tech">
<h4><strong>Which technologies i use?</strong></h4>
<br>
<p>I use;</p>
<ul>
<img class="tools" src="{% static '/images/google.jpeg'%}" alt="Google search">
<img class="tools" src="{% static '/images/youtube.png'%}" alt="Youtube">
<img class="tools" src="{% static '/images/ubuntu.png'%}" alt="Ubuntu">
<img class="tools" src="{% static '/images/atom.jpeg'%}" alt="Atom">
<img class="tools" src="{% static '/images/vscode.png'%}" alt="Vscode">
<img class="tools" src="{% static '/images/pycharm.jpeg'%}" alt="Pycharm">
<img class="tools" src="{% static '/images/odin.png'%}" alt="Theodinproject">
<img class="tools" src="{% static '/images/fcc.png'%}" alt="Freecodecamp">
<img class="tools" src="{% static '/images/w3schools.jpeg'%}" alt="W3schools">
<img class="tools" src="{% static '/images/javatpoint.png'%}" alt="Javatpoint">
<img class="tools" src="{% static '/images/html5.jpeg'%}" alt="Html5">
<img class="tools" src="{% static '/images/css3.png'%}" alt="Css3">
<img class="tools" src="{% static '/images/js.jpeg'%}" alt="Javascript">
<img class="tools" src="{% static '/images/boostrap.jpeg'%}" alt="Bootstrap">
<img class="tools" src="{% static '/images/jQuery.jpeg'%}" alt="Jquery">
<img class="tools" src="{% static '/images/React.png'%}" alt="React">
<img class="tools" src="{% static '/images/python.jpeg'%}" alt="Python">
<img class="tools" src="{% static '/images/django.png'%}" alt="Django">
<img class="tools" src="{% static '/images/matplotlib.png'%}" alt="Matplotlib">
<img class="tools" src="{% static '/images/apache2.jpeg'%}" alt="Apache2">
<img class="tools" src="{% static '/images/sqlite3.jpeg'%}" alt="Sglite3">
<img class="tools" src="{% static '/images/mysql.jpeg'%}" alt="Mysql">
<img class="tools" src="{% static '/images/postgresql.png'%}" alt="Postgresql">
<img class="tools" src="{% static '/images/github.png'%}" alt="Github">
<img class="tools" src="{% static '/images/pythonanywhere.png'%}" alt="Pythonanywhere">
<img class="tools" src="{% static '/images/heroku.png'%}" alt="Heroku">
<img class="tools" src="{% static '/images/digitalocean.png'%}" alt="Digitalocean">
<img class="tools" src="{% static '/images/aws.jpeg'%}" alt="Aws">
</ul>
    </div>
    </div>
  <div class="col-md-6">
    <div class="card" id="how">
<h4><strong>How I Learn?</strong></h4>
<br>
<p>I started as solo learner from <a href="https://www.theodinproject.com">theodhinproject.com</a> with Ruby on Rails but i didn't
  have the basic programming concepts i.e html,css. So i quit and started afresh with html5,css and javascript on <a href="https://www.freecodecamp.org">
  freecodecamp.com</a>&nbsp;beginers syllabus.</p>
 <p>After a while  i realised i couldn't code by myself because the javascript wasn't a walk in the park. </p>
 <p>I was not understanding  the concept because their console runs backend codes all you are asked to do is fill in few character(s) code and pass the test with answers readily
   available with a click of a button to progress and this  made  me focus less on code syntax but to pass.</p>
   <p>So, I started  a fresher tutorial on html5,css and javascript on <a href="https://www.w3schools.com">W3schools.com</a> Which atleast enlighted me on the complex
     tutorials of <strong>freecodecamp.com</strong> congrats, i was able to code basic html,css,and javascript syntax without visiting <strong>stackoverflow</strong>.</p>
<p>To accomplish my mission on web development, I enrolled for beginners tutorial on python/Django at <a href="https://www.javatpoint.com">Javatpoint.com</a> these
  guys made me proud. with touch of django for backend i can now create  a web page,Debug and Deploy on <strong>Pythonanywhere</strong>,<strong>Heroku</strong> or <strong>AWS</strong>.</p>

  <p>My new project is learning Tkinter,Numpy & Pandas,Tensorflow and keras for a medical laboratory project to build my first  universal OS supported offline desktop app.</p>

    </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card" id="exp">
  <h4><strong>My experience</strong></h4>
  <br>
  <p>I'm just a new kid on the block trying to mend things together.</p>
  <p>I have so far tried my hands on few personal projects such as;</p>
  <ul>
  <li>A log-in form.</li>

  <li>This portifolio.</li>
  <li>Form submission app.</li>
  <li>An automatic Email sending App.</li>
  <li>A CRUD app.</li>
  <li>Personal blog App.</li>
  <li>A user file upload app.</li>
  </ul>
  <p>Detailed information and links can be found in below provided platforms.</p>
        </div>
        </div>


<div class="col-md-6">
  <div class="card" id="plat">

    <h4><strong>My social Media platforms</strong></h4>
    <br>
    <p>Reach out to me using the following social media links:</p>
    <ul>
      <a href="https://m.me/sad.ric.129"><img class="social-link" src="{% static '/images/facebook.png'%}" alt="facebook"></a>&nbsp;

      <a href="https://wa.me/+254798096774"><img class="social-link" src="{% static '/images/whatsapp.jpeg'%}" alt "whatsapp"></a>&nbsp;
      <a href="mailto:sadricw@gmail.com"><img class="social-link" src="{% static '/images/gmail.jpeg'%}" alt="Gmail"></a></ul>
    <p>You can also check my projects on:</p>
    <ul>
    <a href="https://codepen.io/Sadric/pens/"><img  class="projects" src="{% static '/images/codepen.png'%}" alt="codepen"></a>&nbsp;
    <a href="https://www.github.com/sadic206?tab=repositories"><img  class="projects" src="{% static '/images/github.png'%}" alt="github"></a></ul>

  </div>
  </div>
  </div>

</div>

  </body>

  <footer>

 <p><strong>Developer:&nbsp;Sadic Mohamud&nbsp;&copy;&nbsp;Peanid Corporation @ 2020</strong></p>
    </footer>
  </html>
